/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1052px;
  margin: 0 auto;
}

.s-1 {
  margin-bottom: 120px;
}

.info-div {
  margin-bottom: 26px;
}

h2 {
  display: inline-block;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #4E6FAE;
  margin-right: 18px;
}

.stick {
  display: inline-block;
  margin-right: 18px;
  width: 2px;
  height: 30px;
  background-color: #5012D5;
  vertical-align: middle;
}

h3 {
  display: inline-block;
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #4E6FAE;
}

h2, .stick, h3 {
  vertical-align: middle;
}

.card-1 {
  width: 500px;
  height: 192px;
  background-color: #E7E7E7;
  display: inline-block;
  margin-right: 44px;
  padding: 20px;
}

.card-2 {
  width: 500px;
  height: 192px;
  background-color: #E7E7E7;
  display: inline-block;
  padding: 20px;
}

.card-1, .card-2 {
  vertical-align: middle;
}

.a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3F4145;
  display: block;
}

img {
  margin-top: 30px;
}

.b {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7E8898;
  margin-left: 100px;
  margin-top: -85px;
}

.logo {
  vertical-align: middle;
}

li {
  display: inline-block;
}

nav {
  display: inline-block;
}

nav, ul, li, a {
  font-family: "FiraGO";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #8D81FF;
  vertical-align: bottom;
  margin-right: 20px;
}

.footer {
  margin-right: 30px;
  vertical-align: middle;
  display: inline-block;
}

.stick-2 {
  display: inline-block;
  margin-right: 18px;
  width: 2px;
  height: 50px;
  background-color: #5012D5;
  vertical-align: bottom;
}

.re {
  color: #4E6FAE;
}

#yt {
  margin-left: 10px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: #5012D5;
  color: #84FF81;
  font-size: 24px;
  padding: 12px;
  margin-top: 44px;
  margin-bottom: 18px;
}

.gfont-1 {
  margin-bottom: 8px;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #8D81FF;
}

.gfont-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #4E6FAE;
  display: block;
  margin-bottom: 15px;
}

.min {
  display: inline-block;
  margin-right: 20px;
  margin-top: 0px;
  height: 200px;
  width: 280px;
}

.gfont-3 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #4E6FAE;
  width: 745px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
}

.gfont-4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #4E6FAE;
  width: 710px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
}

.mn {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #4E6FAE;
  margin-top: 123px;
}

.gr {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #7E8898;
  display: inline-block;
}

.bl {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3F4145;
  display: inline-block;
}

.cont {
  margin-top: 23px;
}

#di {
  margin-left: 90px;
}

#mndi {
  background-color: #E7E7E7;
  height: 700px;
}

#gh {
  margin-bottom: 40px;
  vertical-align: middle;
}

.bot {
  margin-bottom: 8px;
}

.hot {
  margin-bottom: 2px;
}

.map {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 130px;
  margin-left: 29px;
  width: 512px;
}

.con {
  display: inline-block;
  vertical-align: top;
}

#foot {
  margin-top: 25px;
  margin-bottom: 50px;
}/*# sourceMappingURL=global.css.map */